/* ================================
All utilitis for common css style
====================================*/
body{
  
    font-family: 'Open Sans', sans-serif;
}

/*====================
   header start for css 
 ======================== */
 
.navbar{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    align-items: center;
}
.header-menu i{
    margin-top:18px;
    font-size: 20px;
    margin-left: 30px;
}
.header-info{
    color: #3A3A3A;
    font-size: 25px;
    font-weight: 700;
    margin-left: 30px;
}
.container:hover .header-img{
    transform: rotate(360deg);
    transition: 5s;
}
.header-menu ul{
    display: flex;
}
.header-menu ul li{
    margin: 10px 30px;
    color: #3A3A3A;
    font-size: 20px;
    list-style: none;
}
.container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    
}
.content h1{

    font-weight: 700;
    color: #3A3A3A;
    font-size: 53px;

}
.content p{
    font-size: 16px;
    line-height: 24px;
    width: 70%;
    color: rgb(53, 53, 53);
    margin-bottom: 40px;
}
.defalt-btn{
    text-decoration: none;
    color:white;
    font-size: 16px;
    background-color:#e02c6d;
    padding: 15px 35px;
    border-radius: 30px;

}
.content .fa-arrow-right{
    color: white;
    padding-left: 10px;
    font-size: 20px;
}
hr{
    margin-top: 70px;
    margin-bottom: 50px;
}

/* ===========================
popular section made by me 
============================ */
.popular-site-logos{
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    align-items: center;
}

.popular-site-logos img{
    margin-top: -35px;
    
    
}

.popular-title h1{
    margin: 100px;
    font-size: 28px;
    text-align: center;
    color: #3A3A3A;
}
.popular-sections{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.popular-items{
    padding:20px 20px;
    margin: 40px 30px;
    background-color: #fff;
    height: 600px;
    width: 400px;
    box-shadow: 5px 10px 18px #888888;
}
.popular-items img{
    width: 100%;
}
.fa-star.full{
    color: gold;
    margin-left: 5px;
}
.fa-star.null{
    color: #d1c5c5;
}
.margin-dibo{
    margin-left: 20px;
}
.popular-items h3{
    font-size: 26px;
    font-weight: 700;
}
.popular-items h4{
    font-size: 25px;
    font-weight: 600;
}
.text-color{
    text-decoration: none;
    font-size: 25px;
    color: #e02c6d;
}
.sec-more-section{
text-align: end;
margin: 50px;
margin-right: 50px;
}


/*==========
  digital
===========  */
.digitals{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    align-items: center;
    padding: 100px;
}
.digitals img{
    width: 400px;
    height: auto;
    border-radius: 10px;
}
.digitals h2{
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 40px;
}
.digitals p{
    font-size: 17px;
    line-height: 1.5em;
    margin-bottom: 50px;
}
.digitals .btn-defalt{
    text-decoration: none;
    color:white;
    font-size: 20px;
    background-color:#e02c6d;
    padding: 15px 35px;
    border-radius: 30px;
}
.digitals .design{
    margin: 20px 0;
    padding: 10px 60px;
}
/* =================
   footer style 
============== */
footer{
    text-align: center;
    background-color: #0a0826;
    padding: 100px;
}
footer h2{
    color: white;
    font-size: 20px;
}
footer p{
    color: white;
    font-size: 15px;
}
footer .social-icon a{
    color: white;
    font-size: 25px;
    cursor: pointer;
    margin: 10px 30px;
}




/* =====================
   Media Quary for UX 
======================== */
@media only screen and (max-width:688px) {
    
    .popular-site-logos{
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        grid-row-gap: 50px;
    }
    .header-img img{
        width: 350px;
        height: auto;

    }
    .navbar .header-menu{
        display: none;
    }
    .content{
        text-align: center;
    }
    .content p{
        text-align: center;
        margin-left: 80px;
    }
  
    .header-info{
        color: #3A3A3A;
        font-size: 25px;
        text-align: center;
        font-weight: 700;
        margin:0 auto;
    }
    .digital-img img{
        width: 350px;
        height: auto;
    }
    .digital-content{
        width: 350px;
        height: auto;
        text-align: center;
    }
    .popular-items{
        width: 230px;
        height: auto;
    }
    .popular-sections{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .digitals, .container, .navbar{
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        align-items: center;
        grid-row-gap: 25px;
    }
     .popular-items{
        width: 300px;
        height: auto;
    }
    body{
       width: 100%;
    }
    .social-icon{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

/* tablet devise  */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
   
.content h1{
    font-size: 19px;
}
    .popular-site-logos{
        width: 550px;
        height: auto;
        align-items: center;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        grid-row-gap: 40px;
    }
    .popular-items{
        width: 230px;
        height: auto;
    }
    .popular-sections{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .container{
        grid-template-columns: repeat(2, 1fr);
    }
   .header-contents{
        width: 230px;
        height: auto;
        
        
    }
    .header-img{
        width: 300px;
        height: auto;
        margin-left: -100px;
    }
    .digitals{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        align-items: center;
        
    }
    .navbar .header-menu{
        display: none;
    }
    .sec-more-section{
        text-align: center;
    }
    .digital-img img{
        width: 270px;
        height: 370px;
        margin-right: 20px;
    }
    .digital-content{
        width: 300px;
        height: auto;
        
    }
    
    .social-icon{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-content: center;
    }
}
